* {
    margin: 0px;
    padding: 0px;
}

.clr {
    clear: both;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    width: 1170px;
    background: crimson;
    margin: 0px auto;
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-left: 110px;
    line-height: 75px;
    transition: all 0.5s linear 0s;
}

.menu ul li a:hover {
    color: rgb(235, 215, 38);
}

.menu ul li ul {
    position: absolute;
    /* background: crimson; */
    width: 335px;
    left: -10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear 0s;
    transform: scaleX(0);
    z-index: 2;
}

.menu ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

.banner {
    width: 1170px;
    margin: 0px auto;
    background-image: url("image/ship.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 200px 0px;
    position: relative;
}

.banner::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0px;
    left: 0px;
    background: rgba(19, 34, 119, 0.314);
}

.sumon {
    text-align: center;
}

.sumon h2 {
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-size: 25px;
}

.sumon h2::before {
    position: absolute;
    width: 90px;
    height: 7px;
    content: "";
    top: 80px;
    left: -110px;
    background: rgb(245, 2, 2);
}

.sumon h2::after {
    position: absolute;
    width: 90px;
    height: 7px;
    content: "";
    top: 80px;
    left: 155px;
    background: rgb(245, 2, 2);
}

.extra {
    position: relative;
    padding-bottom: 100px;
}

.upore {
    width: 7px;
    height: 57px;
    background: rgb(245, 2, 2);
    position: absolute;
    top: -90px;
    left: 680px;
}

.niche {
    width: 7px;
    height: 57px;
    background: rgb(245, 2, 2);
    position: absolute;
    top: 5px;
    left: 680px;
}
